header{
  height: 90px;
  background-color: black;
  .logo{
    color: rgb(225, 0, 0);
    font-size: 3rem;
    font-weight: 700;
  }
}

main{
  height: 100%;
  background-color: black;
  position: relative;
  top: -16px;
   .movies-section{
    padding-top: 50px;
    padding-bottom: 20px;
   }
   
   .series-section{
    padding-top: 50px;
  }
}



.card{
  align-items: center;
  padding: 20px;
  width: calc(100% / 6);
  height: 300px;
  position: relative;
  background-color: black;
  color: white;
  margin: 3px;
  margin-bottom: 8px;
  cursor: pointer;
  
  img.poster{
    width: 220px;
    height: 305px;
    position: absolute;
    top: -1px;
    left: -1px;
    transition: opacity 0.3s ease;

    &:hover{
      opacity: 0;
    }
  } 
}
  

img.flag{
  width: 25px;
  height: 25px;
}

.title{
  font-weight: bold;
  color: whitesmoke;
}

.description{
  height: 120px;
  overflow: auto;
  font-size: 0.8rem;
  margin-top: 10px;
}

.card-title{
  color: rgb(225, 0, 0);
}
.card-subtitle{
  font-size: 0.8rem;
  margin: 10px;
}

.fa-solid.fa-star{
  color: gold;
}